<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WgcApp"
        android:label="@string/app_name"
        android:theme="@style/Theme.WgCompanion"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 允许从文件管理器直接用本应用打开 .conf -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <!-- WireGuard GoBackend 所需的 VPN 服务（由官方库承载） -->
        <service
            android:name="com.wireguard.android.backend.GoBackend$VpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE" />
    </application>
</manifest>
